.carousel-container {
    width: 90%; /* Set the width of the carousel container */
    overflow: hidden; /* Hide overflow */
  }
  
  .carousel {
    display: flex; /* Use flexbox for horizontal layout */
    width: fit-content; /* Adjust width to fit the slides */
    transition: transform 0.5s ease-in-out; /* Add smooth transition effect */
  }
  
  .slide {
    flex: 0 0 100%; /* Set the width of each slide */
    height: 100%; /* Set the height of each slide */
    padding: 20px;
    background-color: #ddd;
  }
  
.drinks-type-menu {
    margin: 30px auto;
    z-index: 3;
    width: 50%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%;
}

.drinks-type-menu * {
    text-align: center;
    z-index: 2;
}

.drinks-type-menu h2 {
    grid-column: span 2;
}

.drinks-type-menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.bubbly-drinks {
    margin: auto;
    width: 80%;
    height: 100%;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.bubbly-drinks *{
    z-index: 2;
    text-align: center;
}
.bubbly-drinks a {
    grid-column: span 4;
}

.bubbly-drinks .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bubbly-drinks p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}
.bubbly-drinks img {
    width: 100%;
    object-fit: contain;
}



.hot-drinks {
    margin: auto;
    width: 80%;
    height: 100%;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.hot-drinks *{
    z-index: 2;
    text-align: center;
}
.hot-drinks a {
    grid-column: span 4;
}

.hot-drinks .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hot-drinks p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}
.hot-drinks img {
    width: 100%;
    object-fit: contain;
}
